form#gameForm
  fieldset
    .row
      mixin field(6, 'player', 'Player', null, null ,true)
      mixin field(6, 'numOfTiles', 'Number of Tiles')
    .row
      button#newGame.button.expand.radius Start Game
