form#gameForm
  fieldset
    .row
      mixin field(6, 'player', 'Player', null, null ,true)
      mixin field(6, 'numOfTiles', 'Number of Tile Pairs')
    .row

      input#newGame.button.expand.radius(type='button', value= 'Start Game')

